PORT=3003
MONGO_URI=mongodb://localhost:27017/photo_prestiges_target
JWT_SECRET=supersecretjwtkey_change_in_production
REGISTER_SERVICE_URL=http://localhost:3002
SCORE_SERVICE_URL=http://localhost:3004
BASE_URL=http://localhost:3003
