PORT=3005
MONGO_URI=mongodb://localhost:27017/photo_prestiges_clock
JWT_SECRET=supersecret_key_change_in_production
REGISTER_SERVICE_URL=http://localhost:3002
SCORE_SERVICE_URL=http://localhost:3004
MAIL_SERVICE_URL=http://localhost:3006
