PORT=3006
MONGO_URI=mongodb://localhost:27017/photo_prestiges_mail
JWT_SECRET=your_super_secret_jwt_key
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_user
SMTP_PASS=your_pass
SMTP_SECURE=false
SMTP_FROM=no-reply@photo-prestiges.local
SMTP_TIMEOUT_MS=8000
