PORT=3004
MONGO_URI=mongodb://localhost:27017/photo_prestiges_score
JWT_SECRET=super_secret_jwt_key
REGISTER_SERVICE_URL=http://localhost:3002
TARGET_SERVICE_URL=http://localhost:3003
IMAGGA_API_KEY=your_imagga_api_key
IMAGGA_API_SECRET=your_imagga_api_secret
